<div
  class="navbar navbar-dark bg-dark navbar-expand-lg col-12"
  role="navigation"
>
  <div class="navbar-brand col-4 bold">SYMODE MARKET INTELLIGENCE</div>
  <ul class="d-flex justify-content-end bd-highlight col-8 navbar-nav">
    <li class="p-2 bd-highlight nav-item">
      <a href="about.php" class="nav-link">About Us</a>
    </li>
    <li class="p-2 bd-highlight nav-item">
      <a href="#" class="nav-link">Services</a>
    </li>
    <li class="p-2 bd-highlight nav-item">
      <a href="#" class="nav-link">Insights</a>
    </li>
    <li class="p-2 bd-highlight nav-item">
      <a href="#" class="nav-link">Contact Us</a>
    </li>
  </ul>
</div>
